#bloc-note-container {
    background: white;
    padding: 15px;
    border-radius: 10px;
}

#bloc-note {
    width: 100%;
    height: 220px;
    resize: vertical;
    border: 2px solid #e0e0e0;
    box-sizing: border-box;
    outline: none;
    border-radius: 12px !important; /* Force l'application */
    padding: 8px;
    font-family: system-ui, -apple-system, sans-serif;
    font-size: 14px;
}