.timeButton{
    width: 40px;
    height: 40px;
    border: none;
    font-size: 40px;
    transition: all 0.3s ease;
}
.timeButton:hover{
    cursor: pointer;
    background-color: #818080;
}
#timerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    height: 50%;
    font-size: 40px;
}

#launchTimerSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.timerInteractButton{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border: none;
}