:root {
    font-family: Arial, Helvetica, sans-serif;
}
#popUpName {
    text-align: center;
    margin-bottom: -8px ;
    color: #0366d6;
}

body {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    padding: 4px;
}

.tabs {
    display: flex;
    height: 48px;
    gap: 6px;
    border-top: 1px solid #ddd;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33%;
    background: transparent;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.tab[aria-selected="true"] {
    background: #0366d6;
    color: white;
}

.tab:focus {
    outline: none;
}

.panel {
    padding: 12px;
    flex: 1 1 auto;
    overflow: auto;
}

[hidden] {
    display: none !important;
}

