@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* TASKCONTAINER */
#toDoSection{
    border: 2px solid black;
    width: 400px;
    height: 500px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}
#toDoSection h1{
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    padding: 10px 0;
}
#toDoListContainer{
    height: 70%;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

/* TASK LINE */
#toDoList{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.taskLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 5px 0;
}

.removeTaskButton{
    border-radius: 100%;
    border:none;
    background-color: white;
    color: rgb(124, 120, 120);
    width: 25px;
    height: 25px;
    transition: all 0.3s ease ;
}
.removeTaskButton:hover{
    color: black;
    cursor: pointer;
}


/* ADD TASK */

#addTaskSection{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 10%;
}
#addTaskButton{
    border-radius: 100%;
    background-color: rgb(47, 212, 47);
    border:none;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 20px;
    transition: all 0.3s ease;
}

#addTaskButton:hover{
    background-color: rgb(10, 112, 10);
    cursor: pointer;
}

#newTaskInput{
    width: 80%;
}